{{<layout}}

{{$pageTitle}}Hardship Payment{{/pageTitle}}

{{$content}}
<main id="content" role="main">

{{>includes/alpha-banner}}

<div class="grid-row">
	<div class="column-two-thirds">
	    <h1 class="form-title heading-xlarge">
	      Apply for Hardship Payment
	    </h1>
	    
	    <div class="inner-block">
			<article>
				<p>You can apply for emergency money if your benefit has been stopped (you've been 'sanctioned') and you can't afford your basic living costs.</p>

				<h2 class="heading-medium">If your payment is stopped</h2>
				<p>If your payment is stopped, you should keep looking for work. Your benefit payment could be stopped for longer if you don’t.</p>
				<h3 class="heading-small">Housing benefit and council tax</h3>
				<p>You should contact your local council immediately if you claim housing benefit or council tax reduction. They’ll tell you what to do to continue getting support.</p>

				<h2 class="heading-medium">Who can apply</h2>
				<p>You can apply if you've been sanctioned while on:</p>
				<ul class="list-bullet">
					<li>Jobseeker's Allowance</li>
					<li>Employment Support Allowance</li>
					<li><a href="https://www.gov.uk/universal-credit/overview">Universal Credit</a></li>
				</ul>
				<p>To get Hardship Payment you must:</p>
				<ul class="list-bullet">
					<li>be 16 or over</li>
					<li>be unable to pay for your basic needs (this means things like food, rent or clothing) or those of a young person you're responsible for - this includes if you're pregnant</li>
					<li>be unable to get money from elsewhere, eg from you family, work or by claiming other benefits you're eligible for</li>
					<li>stick to the terms and conditions of the benefit that's been stopped, eg you must continue to look for work if on Jobseeker's Allowance</li>
				</ul>

				<h2 class="heading-medium">What you'll get</h2>
				<p>You can get between 60% and 80% of the amount of benefit you were getting before you were sanctioned. The exact amount is based on your circumstances.</p>
				<p>You usually don't have to pay the money back unless you're on Universal Credit</p>
				<p>If you're on Universal Credit you'll usually pay the money back in small amounts each month once you're being paid your full benefit again.</p>

				<h2 class="heading-medium">How to apply</h2>
				<p>Call Jobcentre Plus if you usually get Jobseeker's Allowance or Employment Support Allowance.</p>
				<h3 class="heading-small">Jobcentre Plus</h3>
				<p>Telephone: 0345 608 8545</p>
				<p>Call the Universal Credit helpline if you get Universal Credit</p>

				<h3 class="heading-small">Universal Credit helpline</h3>
				<p>Telephone: 0345 600 0723<br>
					Textphone: 0345 600 0743<br>
					<a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

				<h3 class="heading-small">What happens next</h3>
				<p>You'll usually have to go to a face-to-face meeting at a Jobcentre within a day of applying. At the meeting you must prove you can't afford basic living costs, eg by showing household bills and bank statements.</p>
				<p>You'll be told when and where your meeting is and what you need to bring.<p>

			</article>

			<footer>
				<nav class="pagination" role="navigation" aria-label="Pagination">
					<ul class="group">
          				<li class="next">
            				<a href="eligibility" rel="next" title="Navigate to next part">
              					<span class="pagination-label">Next</span> <span class="pagination-part-title"> Eligibility</span>
							</a>          			
						</li>
    				</ul>
    			</nav>
    		</footer>
	        
	    </div>
	</div>
	
	
	<div class="column-third">

	</div>
</div>

</main><!-- / #page-container -->
{{/content}}

{{/layout}}
