{{<layout}}

{{$pageTitle}}Hardship Payment{{/pageTitle}}

{{$content}}
<main id="content" role="main">

{{>includes/alpha-banner}}

<div class="grid-row">
	<div class="column-two-thirds">
	    <h1 class="form-title heading-xlarge">
	      Apply for Hardship Payment
	    </h1>
	    
	    <div class="inner-block">
			<article>
				<p>You can apply for Hardship Payments if your benefit has been stopped (you've been 'sanctioned') and you can't afford your basic living costs.</p>

				<h2 class="heading-medium">Who can apply</h2>
				<p>You can apply if you've been sanctioned while on:</p>
				<ul class="list-bullet">
					<li><a href="https://www.gov.uk/jobseekers-allowance">Jobseeker's Allowance</a></li>
					<li><a href="https://www.gov.uk/employment-support-allowance">Employment Support Allowance</a></li>
					<li><a href="https://www.gov.uk/universal-credit/overview">Universal Credit</a></li>
				</ul>
				<p>To get Hardship Payment you must:</p>
				<ul class="list-bullet">
					<li>be 16 or over</li>
					<li>be unable to pay for your basic needs (this means things like food, rent or clothing) or those of a young person you're responsible for - this includes if you're pregnant</li>
					<li>be unable to get money from elsewhere, eg from you family, work or by claiming other benefits you're eligible for</li>
					<li>stick to the terms and conditions of the benefit that's been stopped, eg you must continue to look for work if on Jobseeker's Allowance</li>
				</ul>

				<h2 class="heading-medium">What you'll get</h2>
				<p>You can get between 60% and 80% of the amount of benefit you were getting before you were sanctioned. The exact amount is based on your circumstances.</p>
				<p>You usually don't have to pay the money back unless you're on Universal Credit.</p>
				<p>If you're on Universal Credit you'll usually pay the money back in small amounts each month once you're being paid your full benefit again.</p>

				<h2 class="heading-medium">How to apply</h2>
				<p>Call Jobcentre Plus if you usually get Jobseeker's Allowance or Employment Support Allowance.</p>
				<p>Call the Universal Credit helpline if you get Universal Credit.</p>
				<h3 class="heading-small">Jobcentre Plus</h3>
				<p>Telephone: 0345 608 8545<br>
					Textphone: 0345 608 8545</p>

				<h3 class="heading-small">Universal Credit helpline</h3>
				<p>Telephone: 0345 600 0723<br>
					Textphone: 0345 600 0743</p>
				<p><a href="https://www.gov.uk/call-charges">Find out about call charges</a></p>

				<h2 class="heading-medium">What happens next</h3>
				<p>You'll usually have to go to a face-to-face meeting at a Jobcentre within a day of applying. At the meeting you must prove you can't afford basic living costs, eg by showing household bills and bank statements.</p>
				<p>You'll be told when and where your meeting is and what you need to bring.</p>

				<h3 class="heading-small">Housing benefit and council tax</h3>
				<p>You should contact your local council immediately if you claim housing benefit or council tax reduction. They’ll tell you what to do to continue getting support.</p>

				<h2 class="heading-medium">Further help</h2>
				<p>The Money Advice Service can offer you help on managing your money. You can ring on 0300 500 5000 or visit <a rel="external" href="https://www.moneyadviceservice.org.uk/en">www.moneyadviceservice.org.uk/en</a>.</p>
				<p>You may get help from your local council. They can offer vouchers, goods and sometimes loans or grants. To find out how you can apply for your local welfare assistance scheme visit <a rel="external" href="http://bit.ly/welfareguide">http://bit.ly/welfareguide</a>.</p>

			</article>
	        
	    </div>
	</div>
	
	
	<div class="column-third">
		<aside>
			<h2 class="heading-medium" style="border-top: 10px solid #005ea5; padding-top: 15px;">Benefits entitlement</h2>
		
			<nav role="navigation" aria-labelledby="parent-subsection">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="https://www.gov.uk/universal-credit/overview">Universal Credit</a>
					</li>
					
					<li style="padding-bottom: 0.7em;">
						<a href="https://www.gov.uk/jobseekers-allowance">Jobseeker's Allowance (JSA)</a>
					</li>
					
					<li style="padding-bottom: 0.7em;">
						<a href="https://www.gov.uk/benefits-calculators">Benefits calculators</a>
					</li>
					
					<li style="padding-bottom: 0.7em;">
						<a href="https://www.gov.uk/benefit-cap">Benefit cap</a>
					</li>

					<li style="padding-bottom: 0.7em;">
						<a href="https://www.gov.uk/benefit-fraud">Benefit fraud</a>
					</li>
					
				</ul>

				<h2 class="heading-medium" style="padding-top: 15px;">Elsewhere on GOV.UK</h2>
				<nav role="navigation" aria-labelledby="subsection">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="https://www.gov.uk/jobsearch">Find a job with Universal Jobmatch</a>
					</li>
				</ul>
			</nav>
		</aside>
	</div>
</div>

</main><!-- / #page-container -->
{{/content}}

{{/layout}}
