{{<layout}}

{{$pageTitle}}Hardship Payment{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/alpha-banner}}
  
  <form action="personal-details" method="#" class="form">

  <a href="apply" class="example-back-link">Back</a>

  <h1 class="heading-large">
    Before you start
  </h1>

  <div class="text">

    <p>
      To apply for Hardship Payment:
    </p>

    <ul class="list-bullet">
      <li>You must have had your income-based Jobseeker's Allowance (JSA) or income-related Employment Support Allowance (ESA) stopped because you have been sanctioned.</li>
      <li>You must not have savings over £500. </li>
      <li>You must not be able to afford to eat, afford to pay your household bills or afford to pay for your accommodation.</li>
    </ul>

    <!-- Primary buttons, secondary links -->
    <div class="form-group">
      <input type="submit" class="button" value="I agree - start my application"> <a href="overview">I do not agree - leave now</a>
    </div>

  </div>

</main><!-- / #page-container -->
{{/content}}

{{/layout}}
