{{<layout}}

{{$pageTitle}}Hardship Payment{{/pageTitle}}

{{$content}}
<main id="content" role="main">

{{>includes/alpha-banner}}

<div class="grid-row">
	<div class="column-two-thirds">
	    <h1 class="form-title heading-xlarge">
	      Hardship Payment
	    </h1>
	    
		<aside>
			<div class="inner">
				<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
					<ol class="list-bullet list-none grid-row">
						<div class="column-half">
							<li class="font-xsmall">
								1. <a href="overview" title="Part 1:  Overview">Overview</a>
							</li>
							<li class="font-xsmall">
								2. <a href="eligibility" title="Part 2:  Eligibility"> Eligibility</a>
							</li>
						</div>
						<div class="column-half">
							<li class="font-xsmall">
								3. <a href="what-youll-get" title="Part 3: What you'll get">What you'll get?</a>
							</li>
							<li class="font-xsmall">
								4. <a href="apply" title="Part 4: Apply">Apply</a>
							</li>
						</div>
					</ol>
				</nav>
			</div>
		</aside>
	    
    <div class="inner-block">
	    <header>
	    	<h1 class="heading-medium">2. Eligibility</h1>
	    </header>
			<article>

				<p>You may get a hardship payment if your income-based Jobseeker's Allowance has been stopped because:</p>

				<ul class="list-bullet">
					<li>you are not available for work</li>
					<li>you are not actively seeking work</li>
					<li>you do not have a Jobseeker's Agreement </li>
					<li>there is a doubt about whether you meet any of the above conditions</li>
					<li>your Jobseeker's Allowance has been sanctioned</li>
					<li>a fraud penalty has been imposed</li>
				</ul>

				<p>If you get contribution-based Jobseeker's Allowance you can still apply for a hardship payment. You can do this through your local Jobcentre. </p>
				<p>If you are not sure what you are getting, contact your local Jobcentre.</p>
				
			</article>

			<footer>
				<nav class="pagination" role="navigation" aria-label="Pagination">
					<ul class="group">
						<li class="previous">
      				<a href="overview" rel="prev" title="Navigate to previous part">
      					<span class="pagination-label">Previous </span> <span class="pagination-part-title">Overview</span>
      				</a>          
      			</li>
    				<li class="next">
      				<a href="what-youll-get" rel="next" title="Navigate to next part">
      					<span class="pagination-label">Next</span> <span class="pagination-part-title"> What you'll get?</span>
							</a>          			
						</li>
  				</ul>
  			</nav>
  		</footer> 
    </div>
	</div>
	<div class="column-third">

	</div>
</div>

</main><!-- / #page-container -->
{{/content}}

{{/layout}}
