{{<layout}}

{{$pageTitle}}Hardship Payment{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/alpha-banner}}
  <div class="grid-row">
    <div class="column-two-thirds">
  
      <form action="money" method="#" class="form">

      <a href="health-condition" class="example-back-link">Back</a>

      <h1 class="form-title heading-large">
        Serious illness
      </h1>

      <fieldset class="inline form-group">
        <legend class="form-label-bold add-padding" for="health">Do you or your partner have a serious illness?</legend>
        <p class="form-hint">A serious illness is an important, significant or severe illness. A cold or cough is not normally a serious illness.</p>

        <label class="block-label" data-target="health-details" for="health-1">
          <input id="health-1" type="radio" name="health" value="Yes">
          Yes
        </label>
        <label class="block-label" for="health-2">
          <input id="health-2" type="radio" name="health" value="No">
          No
        </label>
      </fieldset>

      <div class="js-hidden panel-indent" id="health-details">
        <!-- health conditions or disabilities -->
        <div class="form-group">  
          <label class="form-label-bold" for="health-conditions">What is the illness?</label>
          <textarea name="health-conditions" type="text" class="form-control-3-4"></textarea>
        </div>

      </div>

      <div class="form-group">
        <input type="submit" class="button" value="Continue">
      </div>

    </div>
    <div class="column-third">
    </div>
  </div>


</main><!-- / #page-container -->
{{/content}}

{{/layout}}
<script>
  $(document).ready(function() {
  
    $("#show-condition4").click(function() {
      $("#condition4").show();
      $("#show-condition4").hide();
       return false;
    });
    $("#show-condition5").click(function() {
      $("#condition5").show();
      $("#show-condition5").hide();
       return false;
    });
  });
</script>
