{{<layout}}

{{$pageTitle}}Hardship Payment{{/pageTitle}}

{{$content}}
<main id="content" role="main">

{{>includes/alpha-banner}}

<div class="grid-row">
	<div class="column-two-thirds">
	    <h1 class="form-title heading-xlarge">
	      Hardship Payment
	    </h1>
	    
		<aside>
			<div class="inner">
				<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
					<ol class="list-bullet list-none grid-row">
						<div class="column-half">
							<li class="font-xsmall">
								1. <a href="overview" title="Part 1:  Overview">Overview</a>
							</li>
							<li class="font-xsmall">
								2. <a href="eligibility" title="Part 2:  Eligibility">Eligibility</a>
							</li>
						</div>
						<div class="column-half">
							<li class="font-xsmall">
								3. <a href="what-will-i-get" title="Part 3: What will I get">What will I get?</a>
							</li>
							<li class="font-xsmall">
								4. <a href="apply" title="Part 4: Apply">Apply</a>
							</li>
						</div>
					</ol>
				</nav>
			</div>
		</aside>
	    
    <div class="inner-block">
	    <header>
	    	<h1 class="heading-medium">3. What will I get?</h1>
	    </header>
			<article>
				<p>If you are paid hardship, you will get less income-based Jobseeker's Allowance. The exact amount is based on your personal circumstances.</p>

				<h2 class="heading-small">Does hardship have to be repaid? </h2>
				<p>People who get Jobseeker's Allowance do not normally have to repay hardship payments.</p>

				<h2 class="heading-small">When will I be paid?</h2>
				<p>The date you will get a payment depends on your personal circumstances.</p>
				<p>If you qualify, a hardship payment will be paid from either:</p>

				<ul class="list-bullet">
					<li>the same date you would have had a payment of Jobseeker's Allowance</li>
					<li>2 weeks after the date you would have had a payment of Jobseeker's Allowance</li>
				</ul>

				<p>We will tell you when you will be paid.</p>
				
			</article>

			<footer>
				<nav class="pagination" role="navigation" aria-label="Pagination">
					<ul class="group">
						<li class="previous">
      				<a href="eligibility" rel="prev" title="Navigate to previous part">
      					<span class="pagination-label">Previous </span> <span class="pagination-part-title"> Eligibility</span>
      				</a>          
      			</li>
    				<li class="next">
      				<a href="apply" rel="next" title="Navigate to next part">
      					<span class="pagination-label">Next</span> <span class="pagination-part-title"> Apply</span>
							</a>          			
						</li>
  				</ul>
  			</nav>
  		</footer> 
    </div>
	</div>
	<div class="column-third">

	</div>
</div>

</main><!-- / #page-container -->
{{/content}}

{{/layout}}
