{{<layout}}

{{$pageTitle}}Hardship Payment{{/pageTitle}}

{{$content}}
<main id="content" role="main">
  {{>includes/alpha-banner}}
  
  <form action="children" method="#" class="form">

  <a href="contact-details" class="example-back-link">Back</a>

  <h1 class="form-title heading-large">
    Your situation
  </h1>

  <div class="form-group">
    <label class="form-label-bold" for="why-hardship">Tell us why you need hardship payments</label>
    <textarea class="form-control tall" id="why-hardship"></textarea>
  </div>

  <div class="form-group">
    <input type="submit" class="button" value="Continue">
  </div>

</main><!-- / #page-container -->
{{/content}}

{{/layout}}
